# ==========================
# Windows
# ==========================

Thumbs.db
Desktop.ini

# ==========================
# Visual Studio Code
# ==========================

.vscode/

# ==========================
# Visual Studio
# ==========================

.vs/

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Python
# ==========================

__pycache__/
*.pyc

# ==========================
# Node.js
# ==========================

node_modules/

# ==========================
# Archivos temporales
# ==========================

*.tmp
*.temp

# ==========================
# Sistema
# ==========================

.DS_Store